.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    .pagination-button {
        background-color: #1B5E20;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        margin: 0 5px;
        cursor: pointer;
    }

    .active-page {
        text-decoration: underline;
        background-color: #29aa3c;
    }

    .active-page:hover {
        background-color: #29aa3c;
        cursor: disabled !important;
    }

    .page-numbers {
        display: flex;
        align-items: center;

        span {
            margin: 0 5px;
            font-weight: bold;
        }
    }
}