<section class="inventory-update-container">
    <div class="inventory-update-section">
      <h2>Update Inventory</h2>
      <div class="message" aria-live="polite">
      </div>
      <form #inventoryUpdateForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="foodType">Food Name</label>
          <input type="text" id="foodName" name="foodName" required [(ngModel)]="food.name" placeholder="e.g., Cans of Beans, Apples, Cartons of Eggs">
        </div>
        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="number" id="quantity" name="quantity" required [(ngModel)]="food.initialQuantity" placeholder="e.g., 100">
        </div>
        <div class="form-group">
          <label>Food Categories</label>
          <div class="checkbox-group">
            <label *ngFor="let category of foodCategories; let idx=index" class="inline-label">
              <input type="checkbox" [name]="category.name"> {{ category.name }}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="expirationDate">Expiration Date</label>
          <input type="date" id="expirationDate" name="expirationDate" required [(ngModel)]="expirationDate">
        </div>
        <button type="submit">Submit Update</button>
      </form>
    </div>
  </section>