#main {
    $section-main-background-color: rgb(122, 255, 204);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .horizontally-centered-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 10vh;
    }

    #partners-section {
        background-color: $section-main-background-color;
    }
     
    .slideShowImage {
        width: 100%;
        max-height: 33vh;
    }
}