<button (click)="goBack()">←</button>
<h1>Charity:</h1>

<table *ngIf="charity">
    <tr>
        <td>Name</td>
        <td><input [(ngModel)]="charity.name" /></td>
    </tr>
    <tr>
        <td>Contact</td>
        <td><input [(ngModel)]="charity.contact" /></td>
    </tr>
    <tr>
        <td><button (click)="saveClicked()">Save</button></td>
        <td></td>
    </tr>
    <tr>
        <td>Locations: </td>
        <td><button (click)="viewCharityLocations()">View Locations</button></td>
    </tr>
</table>

