<button (click)="navigateBackToCharityDetails()">Back</button>
<p>Charity Locations:</p>
<table>
    <tr *ngFor="let location of charityLocations; let idx=index">
        <!--<td><a [routerLink]="['/stores/location-details', storeID, location.id]">{{idx+1}}</a></td>-->
        <td>{{ idx+1 }}</td>
        <td>{{ location.streetNumber }}</td>
        <td>{{ location.streetName }}</td>
        <td>{{ location.city }}</td>
        <td>{{ location.state }}</td>
    </tr>
</table>
<!--<a [routerLink]="['/stores/location-details', storeID, 'new']">Create new store</a>-->