<page-header></page-header>
<div class="messages-container" *ngIf="organizationDetailsProvided == yes">
    <div class="organization-list">
        <div class="active-chats">
            <h3>Select Chat</h3>
            <form [formGroup]="chatSelectForm" (ngSubmit)="selectOrganization()">
                <mat-form-field>
                    <mat-label>Select an Organization</mat-label>
                    <input type="text" placeholder="Start typing..." aria-label="Select an organization" matInput
                        [matAutocomplete]="chatAuto" formControlName="selectedChat">
                    <mat-autocomplete #chatAuto="matAutocomplete">
                        <mat-option 
                            *ngFor="let org of organizationsWithActiveChats" 
                            [value]="org.name" 
                            [ngClass]="{'has-new-message': organizationsWithNewMessages.includes(org)}">
                            {{ org.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <button type="submit" class="add-chat-button" mat-raised-button color="primary">Select Chat</button>
            </form>
        </div>
        <div class="start-new-chat">
            <h3>Start New Chat</h3>
            <form [formGroup]="organizationSearchForm" (ngSubmit)="addChat()">
                <mat-form-field>
                    <mat-label>Find an organization</mat-label>
                    <input type="text" placeholder="Start typing..." aria-label="Find an organization" matInput
                        [matAutocomplete]="searchAuto" formControlName="searchedOrganization">
                    <mat-autocomplete #searchAuto="matAutocomplete">
                        <mat-option *ngFor="let org of organizationsToSearch" [value]="org.name">{{ org.name }}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <button type="submit" class="add-chat-button" mat-raised-button color="primary">Add Chat</button>
            </form>
        </div>
    </div>
    <div class="chat-area" *ngIf="selectedOrganization.name">
        <h3>Chat with {{ selectedOrganization.name }}</h3>
        <div class="loading-container" *ngIf="messagesLoading">
            <loading-spinner [loadingMessage]="'Loading messages...'"></loading-spinner>
        </div>
        <div class="chat-messages" *ngIf="!messagesLoading">
            <div *ngFor="let message of messages" class="message" [ngClass]="{'message-from': message.sendingOrganization === selectedOrganization.id,
                'message-to': message.receivingOrganization == selectedOrganization.id}">
                {{ message.content }}
            </div>
        </div>
        <div class="message-input">
            <input type="text" [(ngModel)]="newMessageText" placeholder="Type your message here..." />
            <button (click)="sendMessage()">Send</button>
        </div>
    </div>
    <div class="chat-area" *ngIf="!selectedOrganization">
        <h3>Please select an organization to start chatting.</h3>
    </div>
</div>
<div *ngIf="organizationDetailsProvided == no" class="warning-message">
    <h2>Please provide your organization details to access the messaging feature.</h2>
</div>