.messages-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #e7e7e7;
    border: 1px solid #C8E6C9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 82%;
}

.organization-list {
    width: 100%;
    border-right: 1px solid #A5D6A7;
    overflow-y: auto;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;

    h3 {
        font-size: 1.2rem;
        margin-bottom: 10px;
        color: #2E7D32;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 10px;
            margin-bottom: 5px;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #F1F8E9;
            }

            &.selected {
                background-color: #66BB6A;
                color: #FFFFFF;
            }
        }
    }

    .add-chat-selection {
        align-items: center;
        margin-left: 20px;

        form {
            display: flex;
            flex-direction: column;
        }

        .add-chat-button {
            margin-top: 10px;
            padding: 8px 12px;
            background-color: #66BB6A;
            color: #FFFFFF;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.3s ease;
    
            &:hover {
                background-color: #388E3C;
            }
        }
    }

    .active-chats, .start-new-chat {
        width: 30%;
        flex: 1;
        background-color: #FFFFFF;
        border: 1px solid #A5D6A7;
        border-radius: 8px;
        padding: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

        h3 {
            font-size: 1.2rem;
            margin-bottom: 10px;
            color: #2E7D32;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding: 10px;
                margin-bottom: 5px;
                cursor: pointer;
                border-radius: 4px;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #F1F8E9;
                }

                &.selected {
                    background-color: #66BB6A;
                    color: #FFFFFF;
                }
            }
        }

        form {
            display: flex;
            flex-direction: column;

            .add-chat-button {
                margin-top: 10px;
                padding: 8px 12px;
                background-color: #66BB6A;
                color: #FFFFFF;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 1rem;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #388E3C;
                }
            }
        }

        .has-new-message {
            font-weight: bold;
            color: #D32F2F;
        }
    }
}

.chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: 1px solid #A5D6A7;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    height: 100%;

    h3 {
        font-size: 1.2rem;
        margin-bottom: 15px;
        color: #2E7D32;
    }

    .chat-messages {
        flex-grow: 1;
        max-height: 375px; /* Set the maximum height */
        overflow-y: auto; /* Enable vertical scrolling */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;

        .message {
            margin-bottom: 10px;

            strong {
                color: #388E3C;
            }
        }
    }

    .message-input {
        display: flex;
        padding: 0.5rem;
        border-top: 1px solid #C8E6C9;
        gap: 10px;

        input[type="text"] {
            flex: 1;
            padding: 0.5rem;
            margin-right: 0.5rem;
            border: 1px solid #A5D6A7;
            border-radius: 4px;
            font-size: 1rem;
        }

        button {
            padding: 0.5rem 1rem;
            background-color: #66BB6A;
            color: #FFFFFF;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #388E3C;
            }
        }
    }
}

.message {
    max-width: 60%;
    width: fit-content;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.message-from {
    background-color: #f0f0f0;
    color: #000000;
    text-align: left;
    align-self: flex-start;
    margin-left: 0;
    margin-right: auto;
}

.message-to {
    background-color: #4caf50;
    color: #ffffff;
    text-align: left;
    align-self: flex-end;
    margin-left: auto;
    margin-right: 0;
}