<page-header></page-header>
<section class="users-container">
    <div class="users-section">
        <h2>User Manager</h2>
        <div class="actions">
            <a routerLink="/users/details/new/{{organizationID}}" class="action-button">Add User</a>
            <a routerLink="/roles/roles-list" class="action-button secondary">Modify Site Roles</a>
        </div>
        <table class="users-table" *ngIf="users?.length; else noUsers">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let idx = index">
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>
                        <button class="action-button" [routerLink]="['/users/details', user.userID, organizationID]">Modify</button>
                        <button class="action-button" (click)="removeUser(user.userID!)" *ngIf="user.userID != currentUserID">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-template #noUsers>
            <p class="no-users">No users found for this site.</p>
        </ng-template>
    </div>
</section>
<page-footer></page-footer>