<header>
    <h1>Atlanta Food System</h1>
</header>
<nav>
    <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/organization/inventory/details">Inventory</a></li>
        <li><a href="messages.html">Messages</a></li>
        <li><a href="transport.html">Transport</a></li>
        <li><a routerLink="/users/list">User Manager</a></li>
        <li><a routerLink="/organization/details">Organization Manager</a></li>
        <li><a (click)="signOut()">Logout</a></li>
    </ul>
</nav>