@use 'sass:color';

$primary-light-green: #d9eedb;
$primary-dark-green: #2E7D32;

nav {
    background-color: $primary-light-green;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: baseline;

        li {
            margin: 0 1.5rem;
            a {
                text-decoration: none;
                color: $primary-dark-green;
                font-weight: bold;
                font-size: 1.1rem;
            } a:hover {
                color: color.scale($primary-dark-green, $lightness: -20%);
            }
        }

        #organization-title {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        #login-item {
            flex-grow: 8;
            a {
                float: right;
            }
        }
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0.5rem 0;
    }
}