<section class="inventory-container">
    <div class="inventory-section">
      <h2>Inventory</h2>
      <div class="inventory-actions-section">
        <div class="filter-section">
          <label for="tagFilter">Filter by Tag:</label>
          <input type="text" id="tagFilter" placeholder="e.g., Canned, Fresh, Dairy">
        </div>
        <button class="inventory-action" (click)="navigateToInventoryUpdates()">Add New</button>
      </div>
      <table class="inventory-table" id="inventoryTable">
        <thead>
          <tr>
            <th>Number</th>
            <th>Product</th>
            <th>Current Quantity</th>
            <th>Expiration Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of inventoryData; let idx=index">
            <td>{{ idx + 1 }}</td>
            <td><a [routerLink]="['/stores/inventory/updates', entry.food!.foodID!]">{{ entry.food!.name! }}</a></td>
            <td>{{ entry.food!.currentQuantity! }}</td>
            <td>{{ entry.food!.expirationDate! | date:"shortDate" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>