<button (click)="navigateBackToStoreDetails()">Back</button>
<p>Store Locations:</p>
<table>
    <tr *ngFor="let location of storeLocations; let idx=index">
        <td><a [routerLink]="['/stores/location-details', storeID, location.id]">{{idx+1}}</a></td>
        <td>{{ location.streetNumber }}</td>
        <td>{{ location.streetName }}</td>
        <td>{{ location.city }}</td>
        <td>{{ location.state }}</td>
    </tr>
</table>
<a [routerLink]="['/stores/location-details', storeID, 'new']">Add new location</a>