<table class="inventory-table" *ngIf="inventorySummaryData.length > 0">
    <tr>
        <th class="inventory-table-header">Category</th>
        <th class="inventory-table-header">Quantity</th>
    </tr>
    <tr *ngFor="let entry of inventorySummaryData; let idx=index">
        <td class="inventory-table-entry">{{ entry.categoryName! }}</td>
        <td class="inventory-table-entry">{{ entry.quantitySummary! }}</td>
      </tr>
</table>
<div class="empty-inventory-note" *ngIf="inventorySummaryData.length === 0">
    Inventory empty, check back later!
</div>