<footer id="footer">
    <div>
        <h2><b>Atlanta Food System</b></h2>
    <p>Building an equitable, resilient, and sustainable food system for all of Atlanta.</p>
    </div>
    <div>
        <h2><b>Quick Links</b></h2>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Our Programs</a></li>
            <li><a href="#">Volunteer</a></li>
            <li><a href="#">Partners</a></li>
        </ul>
    </div>
    <div>
        <h2><b>Contact Us</b></h2>
        <ul>
            <li>atlfoodsystem&#64;gmail.com</li>
            <li>123-456-7890</li>
        </ul>
    </div>
</footer>