<home-header></home-header>
<section class="guide">
    <h2><b>Find food near you</b></h2>
    <p>Use the search bar to find donatable food from<br>local stores and pantries</p>
</section>

<div class="food-map">
    <div class="filter-section">
        <label for="categoryFilter">Filter by Tag:</label>
        <input type="text" id="categoryFilter" [(ngModel)]="filterCategoriesInput"
            placeholder="e.g., Canned, Fresh, Dairy">
        <button class="query-button" (click)="runQuery()">Search</button>
    </div>

    <mat-accordion class="food-pantries-accordion">
        <ng-container *ngFor="let site of sites; let i = index">
            <mat-expansion-panel *ngIf="!siteInventoryEmpty[i] && siteIncludesSearchedCategories[i]" (opened)="onPanelOpened(i)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ site.name }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="summary-container">
                    <inventory-summary [organizationID]="site.id!"
                        (onEmptyInventory)="onEmptyInventory(i, $event)"
                        (categoryNames)="updateSiteCategories(i, $event)"></inventory-summary>
                    <button class="full-inventory-button" id="full-inventory-button-{{i}}" matButton
                        (click)="onClickFullInventoryButton(i)">See full
                        inventory</button>
                </div>
            </mat-expansion-panel>
        </ng-container>
    </mat-accordion>
</div>