<header>
    <h1>Food Network Non-Profit</h1>
</header>
<nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="inventory.html">Inventory</a></li>
        <li><a href="messages.html">Messages</a></li>
        <li><a href="transport.html">Transport</a></li>
        <li><a [routerLink]="['../users/list']">Site Users</a></li>
        <li><a (click)="signOut()">Logout</a></li>
    </ul>
</nav>
<section class="dashboard-container">
    <admin-dashboard [ngClass]="{'hidden-dashboard': !(userType === 'admin')}"></admin-dashboard>
    <pantry-dashboard [ngClass]="{'hidden-dashboard': !(userType === 'pantry')}"></pantry-dashboard>
    <store-dashboard [ngClass]="{'hidden-dashboard': !(userType === 'store')}"></store-dashboard>
    <volunteer-dashboard [ngClass]="{'hidden-dashboard': !(userType === 'volunteer')}"></volunteer-dashboard>
</section>
<footer>
    <p>© 2025 Food Network Non-Profit. All rights reserved.</p>
</footer>