<div class="dashboard-section">
    <h2>Store Dashboard</h2>
    <h3>Inventory Summary</h3>
    <inventory-summary></inventory-summary>
    <br>
    <section class="inventory-actions-container">
        <button class="inventory-action" (click)="navigateToInventoryDetails()">View Details</button>
        <button class="inventory-action" (click)="navigateToInventoryUpdates()">Update Inventory</button>
    </section>
    <h3>Recent Messages from Pantries</h3>
    <table class="messages">
        <tr>
            <th>Pantry</th>
            <th>Message</th>
            <th>Date</th>
        </tr>
        <tr>
            <td>City Food Pantry</td>
            <td>Requesting pickup for 100 lbs of produce</td>
            <td>2025-07-16</td>
        </tr>
        <tr>
            <td>Hope Pantry</td>
            <td>Can you donate canned goods this week?</td>
            <td>2025-07-15</td>
        </tr>
    </table>
</div>